body {
    place-content: center;
    display: grid;
    background-color: rgba(53, 175, 53, 0.496);
    font-family: 'Times New Roman', Times, serif;
}

#opciones {
    background-color: rgb(85, 71, 117);
    border: 1em solid rrgb(100, 129, 100);
}


img {
    width: 100px;
}

